<div class="wrapper">
        <div class="logo">
            {{!-- <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt=""> --}}
        </div>
        <div class="text-center mt-4 name">
            myPhone.com
        </div>
        <div class="text-center">
            <p class="text-dark"><b>Admin Login</b></p>
        </div>
        {{#if errMessage}}
        <div class="alert alert-danger text-center" role="alert">
               enter valid details
              </div>
              {{/if}}
        <form action="/admin/adminLogin" method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" name="email" id="email" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="/admin/loginOtp">Forget password?</a> 
        {{!-- <div class="text-center">
            <a href="/admin/loginOtp"> <button type="submit" class="btn mt-3" style="width: 200px;">LOGIN WITH OTP</button></a>
        </div>     --}}
    </div>  