 <main style="background: url('https://cdn.dribbble.com/users/6425/screenshots/5039369/error-glitch-gif-3.gif');">
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-white">404</h1>
         <a class="btn btn-success text-white" href="/admin">Back to home</a>
      </section>
      
    </div>
  </main><!-- End #main -->