<div class="wrapper">
    <div class="logo">
        {{!-- <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png"
            alt=""> --}}
    </div>
    <div class="text-center mt-4 name">
        Change password
    </div>
    <div class="mt-5">
        <form action="/password-changed" method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="password" placeholder="New password">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="cpassword" id="cpassword" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn mt-3">Confirm change</button>
        </form>
    </div>

</div>