<div class="wrapper">
    <div class="logo">
        {{!-- <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png"
            alt=""> --}}
    </div>
    <div class="text-center mt-4 name">
        Change Password
    </div>
    {{#if currentPassErr}}
    <div class="alert alert-danger text-center" role="alert">Current password not matching</div>
    {{/if}}
    <div class="mt-5">
        <form action="/currentPasswordAuth" method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="password" placeholder="Your current Password">
            </div>
            <button type="submit" class="btn mt-3">Submit</button>
        </form>
    </div>
   
</div>