<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-content">
            	<div class="checkout">
	                <div class="container mt-2 text-center">  
                      <h2 class="text-danger"> Oops! payment failed.</h2>
                      <h3>Your order has not been placed, please try again later</h3>
                      <a href="/products" class="btn btn-outline-dark-2 btn-block mb-3 mt-1" style="width: 300px;"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                       {{!-- <a href="/orders" class="btn btn-outline-dark-2 btn-block mb-3 mt-1" style="width: 300px;"><span>MY ORDERS</span><i class="icon-refresh"></i></a> --}}
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->